vjs-resolution-button .vjs-icon-placeholder:before {
    content: '\f110';
    font-family: VideoJS;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8em;
    line-height: 1.67em;
}
vjs-menu{
    position: relative;
}
.vjs-resolution-button  .vjs-resolution-button-label{
    font-family: VideoJS;
        font-weight: normal;
        font-style: normal;
        font-size: 1.3em;
    position: absolute;
    top: 6px;
    bottom: 0;
    right: 6px;
}